@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
    background-color: #212529;
}
body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.navbar-brand img {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.nav-link{
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}


.background-section {
    background-image: url('/img/fondo.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el elemento */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Altura del 100% de la ventana */
}


/* Estilos para las secciones */
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    text-align: center;
}

/* Estilos específicos para cada sección */
.mecanica { background-color: #3498db; }
.detailing { background-color: #2ecc71; }
.sacabollos { background-color: #e74c3c; }
.iluminacion { background-color: #f39c12; }
.polarizados { background-color: #9b59b6; }
.mantenimiento { background-color: #34495e; }


.sticky-section {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
}

.sticky-content {
    width: 50%;
    background-color: #000000;
    overflow-y: auto;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.image-content {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.image-wrapper {
    height: 200%; /* Ajustado para mostrar el contenido al desplazarse */
}

.image-content img {
    width: 100%;
    height: auto;
    display: block;
}



.contenido, .text-ref{
    font-family: proxima_nova_rgbold,Helvetica,sans-serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 4px;
    text-indent: 2px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

/* Estilos para las secciones */
.section {
    min-height: 100vh; /* Usamos min-height para asegurarnos de que el contenido no se desborde en pantallas pequeñas */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    text-align: center;
}

/* Establece un tamaño máximo para las imágenes dentro de las secciones */
.image-content img {
    max-width: 100%; /* Asegura que las imágenes no se salgan de su contenedor */
    height: auto;
}

/* Haz que los contenidos sticky ocupen el 100% del ancho en pantallas pequeñas */
@media (max-width: 768px) {
    .sticky-content,
    .image-content {
        width: 100%;
    }
}

/* Ajusta el tamaño de la fuente para pantallas pequeñas */
@media (max-width: 576px) {
    h1 {
        font-size: 1.5em;
    }
}
@media (max-width: 768px) {
    .sticky-section {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }
    .sticky-content,
    .image-content {
        width: 100%; /* Asegura que ocupen todo el ancho de la pantalla */
    }
}
/* Establece la disposición de las secciones para que estén una debajo de la otra en dispositivos pequeños */
@media (max-width: 768px) {
    .sticky-section {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }
    .sticky-content,
    .image-content {
        width: 100%; /* Asegura que ocupen todo el ancho de la pantalla */
    }
}

/* Cambia el orden de las imágenes para que se muestren después de las secciones en dispositivos pequeños */
@media (max-width: 768px) {
    .sticky-section .image-content {
        order: 1; /* Cambia el orden de aparición de las imágenes */
    }
}
