@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}
body{
	font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
h2{
    font-family: 'Poppins', sans-serif;
}

.carousel-item-fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item-start {
    opacity: 1;
  }

.navbar-brand img {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
}


.background-section {
    background-image: url('/img/fondo.jpeg'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el elemento */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Altura del 100% de la ventana */
    position: relative; /* Para que los elementos secundarios se posicionen correctamente */
}

.overlay {
    position: absolute; /* Posicionamiento absoluto dentro del contenedor */
    top: 0; /* Colocar en la parte superior del contenedor */
    left: 0; /* Colocar en la parte izquierda del contenedor */
    width: 100%; /* Ancho del 100% del contenedor */
    height: 100%; /* Altura del 100% del contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con transparencia del 50% */
}
.sticky-wsp{
    background-color: transparent;
}
    

/* Estilos para las secciones */
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    text-align: center;
}

/* Estilos específicos para cada sección */
.mecanica { background-color: #3498db; }
.detailing { background-color: #2ecc71; }
.sacabollos { background-color: #e74c3c; }
.iluminacion { background-color: #f39c12; }
.polarizados { background-color: #9b59b6; }
.mantenimiento { background-color: #34495e; }


.sticky-section {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
}

.sticky-content {
    width: 50%;
    background-color: #000000;
    overflow-y: auto;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.image-content {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.image-wrapper {
    height: 200%; /* Ajustado para mostrar el contenido al desplazarse */
}

.image-content img {
    width: 100%;
    height: auto;
    display: block;
}

a:hover {
  color: gray; 
  
}

.contenido, .text-ref{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 4px;
    text-indent: 2px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}


/* Estilos para las secciones */
.section {
    min-height: 100vh; /* Usamos min-height para asegurarnos de que el contenido no se desborde en pantallas pequeñas */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    text-align: center;
}

/* Establece un tamaño máximo para las imágenes dentro de las secciones */
.image-content img {
    max-width: 100%; /* Asegura que las imágenes no se salgan de su contenedor */
    height: auto;
}


.carousel-item img {
    width: 100%;
    height: 100%;
  }
  

/* Haz que los contenidos sticky ocupen el 100% del ancho en pantallas pequeñas */
@media (max-width: 768px) {
    .sticky-content,
    .image-content {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .sticky-section {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }
    .sticky-content,
    .image-content {
        width: 100%; /* Asegura que ocupen todo el ancho de la pantalla */
    }
}
/* Establece la disposición de las secciones para que estén una debajo de la otra en dispositivos pequeños */
@media (max-width: 768px) {
    .sticky-section {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }
    .sticky-content,
    .image-content {
        width: 100%; /* Asegura que ocupen todo el ancho de la pantalla */
    }
}

/* Cambia el orden de las imágenes para que se muestren después de las secciones en dispositivos pequeños */
@media (max-width: 768px) {
    .sticky-section .image-content {
        order: 1; /* Cambia el orden de aparición de las imágenes */
    }
}

/* Slider marcas */
@keyframes moveBg {
    from { background-position: 0 50%; }
    to { background-position:  -1134px 50%; }
  }
  
/*   .carousel {
    --blur: 6px;
    --contrast: 105%;
    --speed: 13s;
    height: 250px;
    width: 100%;
    position: relative;
} */
.bannermarcas{
    --blur: 6px;
    --contrast: 105%;
    --speed: 13s;
    height: 250px;
    width: 100%;
    position: relative;
}
    
    .mask {
      position: absolute;
      inset: 0;
      background: #0000;
      backdrop-filter: blur(var(--blur)) contrast(var(--contrast));
      -webkit-backdrop-filter: blur(var(--blur)) contrast(var(--contrast)); /* so it works on Safari */
      -webkit-mask: linear-gradient(90deg, #000 50px, #0000 175px calc(100% - 175px), #fff calc(100% - 50px));
      pointer-events: none;
    }
  
    .logos {
      animation: moveBg var(--speed) linear infinite;
      position: absolute;
      inset: 0;
      background: url(/img/marcas.jpg) 0 50% / 1400px 75px repeat-x;
      -webkit-mask: linear-gradient(90deg, #0000 5px, #000 50px calc(100% - 50px), #0000 calc(100% - 5px));
    }

  
    .footer-divider {
        border-top: 1px solid #fff; /* Color y grosor de la línea */
        margin-top: 20px; /* Espacio entre la línea y el contenido anterior */
    }
    

    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-left,
    .footer-center,
    .footer-right {
        flex: 1;
    }
    
    .footer h4 {
        font-size: 18px;
    }
    
    .footer p {
        margin: 10px 0;
    }
    
    .footer ul {
        list-style: none;
        padding: 0;
    }
    
    .footer ul li {
        margin-bottom: 5px;
    }
    
    .footer ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer-bottom {
        text-align: center;
        margin-top: 20px;
    }
    
    .sticky {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 9;
        background-color: transparent; /* Establece el fondo transparente */
    }
    
    .sticky img {
        width: 60px;
    }
    
